/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
} */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.greenbox{
    box-sizing: border-box;
    
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px 10px;
    margin: 0px 0px 30px 0px;
    background-color: green;
    border-style: dashed;
    border-color: red;
    border-width: 3px;
}
.pnghtml{
    width: 200px;
    height: 115px;
    float: left;
    margin-right: 30px;
    box-sizing: border-box;
}
.fishtext{
    width: 600px;
    text-align: justify;
}
.pngjava{
    width: 25%;
    float: right;
    box-sizing: border-box;
    margin: 20px 0px 20px 20px;
}
